<h1>Gossip Index</h1><br>

<h4>Ci-dessous, la liste des gossips :</h4><br>

<% @gossips.each do |gossip| %>
  <p>Gossip n°: <%= gossip.id%></p>
  <p>
    <strong>Content:</strong>
    <%= gossip.content %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= gossip.date %>
  </p>

  <p>
    <strong>Moussaillon:</strong>
    <%= Moussaillon.find_by(id: gossip.moussaillon_id).anonymous_username %>
  </p>
  <% if current_moussaillon.id == gossip.moussaillon_id %>
    <%= link_to 'Remove this Gossip', gossip, method: :delete %> |
  <% end %>
  <hr style="border: 1px solid white">
<% end %>
